<h1>Accounts</h1>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
      <tr>
        <th>Login</th>
        <th>Posted Today?</th>
        <th colspan="4"></th>
      </tr>
    <% @projects.each do |project| %>
    <% posted = project.ad_timestamp.present? && (project.ad_timestamp+3.hour).today? ? true : false %> <!-- Checks from 11PM last night (There is a 4 hour offset in DB and -1 to account for 11 PM) -->
      <tr style="background-color: <%= 'lightgreen' if posted %>">
        <td><%= project.name %></td>
        <td><%#= project.ad_timestamp ? project.ad_timestamp.strftime("%H:%M %m/%d/%Y") : '' %></td> <!-- For troubleshooting -->
        <td><%= posted ?
            '<i class="fa fa-check" aria-hidden="true" style="color:green"></i>'.html_safe : '<i class="fa fa-thumbs-o-down" aria-hidden="true"></i>'.html_safe %></td>
        <td><%= link_to 'Post Ads', post_ads_path(id: project.id) %></td>
        <td><%= link_to 'Details', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>
</div>

<br />

<%= link_to 'Add new', new_project_path %>
