<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>

<% browser = Watir::Browser.new %>
<% browser.goto 'http://brasiltelexbit.com/publicar.php' %>
<!-- Try getting post_ads.rb script to run from a click of a button here. If we can get it to open 
from the same browser, we might be able to bypass auth and the CAPTCHA. -->
