<h1>Accounts</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Posted Today?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.ad_timestamp.present? ? ( ( ( (Time.now - project.ad_timestamp)/3600) < 24 ).to_s) : 'false' %></td>
    <td><%= link_to 'Post Ads', post_ads_path(id: project.id) %></td>
    <td><%= link_to 'Details', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add new', new_project_path %>
